@media all and (max-width: 1200px) {
    .background {
        width: 50%;
}
 
@media all and (max-width: 992px) {
    .background {
        width: 45%;
}    
    
@media all and (max-width: 767px) {
    .background {
        width: 40%;
}
    
@media all and (max-width: 480px) {
    .background {
        width: 35%;
}