/*  selektor uniwersalny    */

* {
    color: red;
}

ul {
    list-style: none;
}

/*    pseudo elementy:     */

ul li::before {
    content: '+';
}

ul li::after {
    content: 'fghj';
}

ul li::first-letter {
    color: yellow;
}

#main-header .header-inner p::first-line {
    color: blue;
}

/*     pseudo klasy:     */

/* jerzezli podpinamy pseudo klase do elementu link (a) pamietamy o porzadku:
1 nieodwiedzone
2 odwiedzone
3 hover
4 aktywne: ;*/

a:link {
    color: pink;
}

a:visited {
    color: black;
}

a:hover {
    color: aqua;
}

a:active {
    color: chartreuse;
}

/*   :focus - do formularza     */

/* target dzala na kotwice , jak klikniesz link odsylajacy do diva, div robi sie w czarnej ramce*/

/*
input:focus {
    border: 3px solid red;
}
*/

div:target {
    border: 1px solid black;
}

/*     :lang        */

div:lang(pl) p {
    color: blueviolet;
}

/*   first-child, last-child     */

ul li:first-child a {
    color: violet;
}

ul :last-child a {
    color: violet;
}

/*zadziala tylko wtedy jak element ma tylko jednego potomka */

#only-child :only-child {
    color: brown;
}

/* end of type*/

#second-ul li:nth-of-type(2) {
    font-size: 20px;
}

/*end of type od drugiego co 3 */

#second-ul li:nth-of-type(3n+2) {
    font-size: 30px;
    color: aqua;
}

/*selektory atrybutow*/

/*wszyskie inputy z atrybutem type*/

input[type] {
    border: 3px solid #000;
}

/*input z atrybutem type o wartosci tel*/

input[type="tel"] {
    border: 3px solid red;
}

/*dziala na input ktory ma atrybut title o wartosci w ktorej jest "input" (trzeba podac cale slowo) */

input[title ~ ="input"] {
    border: 3px solid blue;
}

/* lapie takiego gdzie wystepuje gdzies w slowie "rz" (nie trzeba calego slowa) */

input[title*="rz"] {
    border: 3px solid green;
}

/* wartosc atrybutu title zaczyna sie od łańcucha "pie" (nie trzeba calego slowa) */

input[title^="pie"] {
    border: 3px solid violet;
}

/*wartosc atrybutu title konczy sie na "ci" (nie trzeba calego slowa)*/

input[title$="ci"] {
    border: 3px solid brown;
}

/*float*/

.floated-inner {
    width: 300px;
    height: 300px;
    background-color: red;
    float: left;
}

/*aby przywrucic float dokumenty (bo liczy wielkosc rodzica tylko z elementow oplywajacych) :
.clear {
clear: both; 
(na ostatnim elemencie oplywajacym tu np <div class="clear"></div>)
trzeba wylaczyc float - jeslil elenenty oplywajace nie oplywaja elementu do koca
*/

.clear {
    clear: both;
}


/*transition*/

.transition {
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;

}

.transition:hover {
    background-color: green;
}

/*obrazek jako tło*/

.background {
    height: 500px;
    /*    background-color: rgba(0,0,0,0.5)*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://pre00.deviantart.net/bdff/th/pre/i/2016/033/d/4/doctor_who___tardis_meets_deep_space__wallpaper__by_thedrunknown-d926rfl.jpg');
    /*    zeby miec maske ustawiamy gradient jako od tego samego koloru do tego samego   */
    background-repeat: no-repeat;
    background-position: center;
    /*    background-attachment: fixed;*/
    background-position: center;
    background-size: cover;
}

/*   przepełnianie elementow  */

.overflow {
    width: 300px;
    height: 300px;
    border: 1px dashed #000;
    overflow: hidden;
}







